skip_commits:
  files:
  - .travis.yml
  - '**/*.md'
  - .gitignore
  - LICENSE

# version format
version: 1.0.{build}

# Build worker image (VM template)
image: Visual Studio 2015

environment:
  matrix:
    - JOB: Release_x86
      configuration: Release
      platform: x86
    - JOB: Release_x64
      configuration: Release
      platform: x64

install:
  - cd C:\projects\fheroes2\script\windows
  - call 1_install_packages.bat

# clone directory
clone_folder: C:\projects\fheroes2

build_script:
  - cmd: cd C:\projects\fheroes2
  - cmd: msbuild fheroes2.vcxproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
