skip_commits:
  files:
  - .travis.yml
  - '**/*.md'
  - .gitignore
  - LICENSE

# version format
version: 1.0.{build}

# Build worker image (VM template)
image: Visual Studio 2015

environment:
  SDL_INCLUDE: c:\projects\SDL\include
  SDL_LIB_X86: c:\projects\SDL\lib\x86
  SDL_LIB_X64: c:\projects\SDL\lib\x64
  ZLIB_INCLUDE: c:\projects\zlib\include
  ZLIB_LIB_X86: c:\projects\zlib\lib\x86
  ZLIB_LIB_X64: c:\projects\zlib\lib\x64
  matrix:
    - JOB: Release_x86
      configuration: Release
      platform: x86
    - JOB: Release_x64
      configuration: Release
      platform: x64

install:
  - mkdir %SDL_INCLUDE%
  - mkdir %SDL_LIB_X86%
  - mkdir %SDL_LIB_X64%
  - mkdir %ZLIB_INCLUDE%
  - mkdir %ZLIB_LIB_X86%
  - mkdir %ZLIB_LIB_X64%
  - cd %TEMP%
  # Download SDL1
  - appveyor DownloadFile https://www.libsdl.org/release/SDL-devel-1.2.15-VC.zip
  - appveyor DownloadFile https://www.libsdl.org/projects/SDL_image/release/SDL_image-devel-1.2.12-VC.zip
  - appveyor DownloadFile https://www.libsdl.org/projects/SDL_mixer/release/SDL_mixer-devel-1.2.12-VC.zip
  # Extract files
  - 7z x SDL-devel-1.2.15-VC.zip > nul
  - 7z x SDL_image-devel-1.2.12-VC.zip > nul
  - 7z x SDL_mixer-devel-1.2.12-VC.zip > nul
  # Set up includes
  - copy SDL-1.2.15\include\* %SDL_INCLUDE% > nul
  - copy SDL_image-1.2.12\include\* %SDL_INCLUDE% > nul
  - copy SDL_mixer-1.2.12\include\* %SDL_INCLUDE% > nul
  # Set up libs
  - copy SDL-1.2.15\lib\x86\* %SDL_LIB_X86% > nul
  - copy SDL_image-1.2.12\lib\x86\* %SDL_LIB_X86% > nul
  - copy SDL_mixer-1.2.12\lib\x86\* %SDL_LIB_X86% > nul
  - copy SDL-1.2.15\lib\x64\* %SDL_LIB_X64% > nul
  - copy SDL_image-1.2.12\lib\x64\* %SDL_LIB_X64% > nul
  - copy SDL_mixer-1.2.12\lib\x64\* %SDL_LIB_X64% > nul
    # Download zlib
#  - appveyor DownloadFile http://zlib.net/zlib128-dll.zip
  - appveyor DownloadFile https://www.libs4win.com/libzlib/libzlib-1.2.11-msvc2015-x86-release.zip
  - appveyor DownloadFile https://www.libs4win.com/libzlib/libzlib-1.2.11-msvc2015-amd64-release.zip
  - 7z x libzlib-1.2.11-msvc2015-x86-release.zip > nul
  - copy include\* %ZLIB_INCLUDE% > nul
  - copy lib\* %ZLIB_LIB_X86% > nul
  - 7z x libzlib-1.2.11-msvc2015-amd64-release.zip > nul
  - copy include\* %ZLIB_INCLUDE% > nul
  - copy lib\* %ZLIB_LIB_X64% > nul

# clone directory
clone_folder: C:\projects\fheroes2

build_script:
  - cmd: cd C:\projects\fheroes2
  - cmd: msbuild fheroes2.vcxproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
