skip_commits:
  files:
  - .travis.yml
  - '**/*.md'
  - .gitignore
  - LICENSE

# version format
version: 1.0.{build}

# Build worker image (VM template)
image: Visual Studio 2015

environment:
  matrix:
    - JOB: Release_x86
      configuration: Release
      platform: x86
    - JOB: Release_x64
      configuration: Release
      platform: x64

skip_tags: true

install:
  - cd C:\projects\fheroes2\script\windows
  - call install_packages.bat

# clone directory
clone_folder: C:\projects\fheroes2

build_script:
  - cmd: cd C:\projects\fheroes2
  - cmd: msbuild fheroes2.vcxproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

after_build:
  - cmd: if "%platform%"=="x86" cd C:\projects\fheroes2\Release
  - cmd: if "%platform%"=="x64" cd C:\projects\fheroes2\x64\Release
  - cmd: 7z a fheroes2.zip fheroes2.exe SDL.dll SDL_mixer.dll
  - cmd: if "%platform%"=="x86" xcopy /Y /s "fheroes2.zip" ".."
  - cmd: if "%platform%"=="x64" xcopy /Y /s "fheroes2.zip" "..\.."
  - cmd: cd C:\projects\fheroes2
  - cmd: 7z a fheroes2.zip script\demo\demo.bat LICENSE

artifacts:
  - path: fheroes2.zip
    name: fheroes2

deploy:
  tag: fheroes2-windows-$(platform)
  release: Windows $(platform) build with SDL 1 support (latest commit)
  description: $(APPVEYOR_REPO_COMMIT_MESSAGE)
  provider: GitHub
  auth_token:
    secure: 0KcyoHsROl98QBsNcB+so6hegLvgWZ0R2zYammwgqdDyVXkNDejMjiDpr5sqDnx9
  artifact: /.*\.zip/
  draft: false
  prerelease: true
  force_update: true
  on:
    branch: appveyor_deployment_fix
