<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" />

    <!-- Touchscreen support -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Game controller support -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <!-- External mouse input events -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:supportsRtl="false">

        <activity
            android:name=".GameActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:preferMinimalPostProcessing="true"
            android:process=":GameActivityProcess"
            android:screenOrientation="sensorLandscape"
            android:taskAffinity="org.fheroes2.GameTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:ignore="DiscouragedApi,UnusedAttribute">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Let Android know that we can handle some USB devices and should receive this event -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ToolsetActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_toolset"
            android:label="@string/activity_toolset_label"
            android:launchMode="singleTask"
            android:taskAffinity="org.fheroes2.ToolsetTask"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SaveFileManagerActivity"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_toolset"
            android:label="@string/activity_save_file_manager_label"
            android:taskAffinity="org.fheroes2.ToolsetTask"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".MapFileManagerActivity"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_toolset"
            android:label="@string/activity_map_file_manager_label"
            android:taskAffinity="org.fheroes2.ToolsetTask"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
    </application>
</manifest>
