[Desktop Entry]
Type=Application
Name=fheroes2
Comment=Free remake of Heroes of Might and Magic II game engine
Icon=fheroes2
TryExec=fheroes2
Exec=fheroes2
Terminal=false
StartupNotify=false
Categories=Game;StrategyGame;
