name: CMake

on:
  workflow_call:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Linux SDL1
          os: ubuntu-latest
          dependencies: libsdl1.2-dev libsdl-image1.2-dev libsdl-mixer1.2-dev gettext
          options: -DUSE_SDL_VERSION=SDL
        - name: Linux SDL2
          os: ubuntu-latest
          dependencies: libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev gettext
          options: -DUSE_SDL_VERSION=SDL2
        - name: macOS SDL1
          os: macos-latest
          dependencies: sdl sdl_image sdl_mixer
          options: -DUSE_SDL_VERSION=SDL
        - name: macOS SDL1 App Bundle
          os: macos-latest
          dependencies: sdl sdl_image sdl_mixer dylibbundler
          options: -DUSE_SDL_VERSION=SDL -DMACOS_APP_BUNDLE=ON
        - name: macOS SDL2
          os: macos-latest
          dependencies: sdl2 sdl2_image sdl2_mixer
          options: -DUSE_SDL_VERSION=SDL2
        - name: macOS SDL2 App Bundle
          os: macos-latest
          dependencies: sdl2 sdl2_image sdl2_mixer dylibbundler
          options: -DUSE_SDL_VERSION=SDL2 -DMACOS_APP_BUNDLE=ON
    name: CMake (${{ matrix.config.name }})
    runs-on: ${{ matrix.config.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies (Linux)
      if: ${{ matrix.config.os == 'ubuntu-latest' }}
      run: |
        sudo apt-get -y update
        sudo apt-get -y install ${{ matrix.config.dependencies }}
    - name: Install dependencies (macOS)
      if: ${{ matrix.config.os == 'macos-latest' }}
      run: |
        brew update
        brew install ${{ matrix.config.dependencies }}
    - name: Build
      run: |
        cmake -B build -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Release -DENABLE_STRICT_COMPILATION=ON -DENABLE_IMAGE=ON -DENABLE_TOOLS=ON ${{ matrix.config.options }}
        cmake --build build -j2
    - name: Install
      run: |
        sudo cmake --install build
