name: CMake

on:
  workflow_call:

permissions: {}

jobs:
  cmake:
    strategy:
      matrix:
        include:
        - name: Linux SDL2
          os: ubuntu-latest
          dependencies: libsdl2-dev libsdl2-mixer-dev libsdl2-image-dev gettext ninja-build
        - name: macOS SDL2
          os: macos-latest
          dependencies: sdl2 sdl2_mixer sdl2_image ninja
        - name: macOS SDL2 App Bundle
          os: macos-latest
          dependencies: sdl2 sdl2_mixer sdl2_image ninja dylibbundler
          options: -DMACOS_APP_BUNDLE=ON
    name: CMake (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies (Linux)
      if: ${{ startsWith( matrix.os, 'ubuntu-' ) }}
      run: |
        sudo apt-get -y update
        sudo apt-get -y install ${{ matrix.dependencies }}
    - name: Install dependencies (macOS)
      if: ${{ startsWith( matrix.os, 'macos-' ) }}
      run: |
        brew install ${{ matrix.dependencies }}
      env:
        # Do not update outdated dependencies of installed packages
        HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: ON
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Debug -DCMAKE_COMPILE_WARNING_AS_ERROR=ON \
                                -DENABLE_IMAGE=ON -DENABLE_TOOLS=ON ${{ matrix.options }}
        cmake --build build
    - name: Install
      run: |
        sudo cmake --install build
  cmake-windows:
    name: CMake (Windows SDL2)
    runs-on: windows-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v5
    - name: Update vcpkg
      run: |
        cd "$VCPKG_INSTALLATION_ROOT"
        git.exe pull origin master
        bootstrap-vcpkg.bat
    - name: Prepare vcpkg cache
      uses: actions/cache@v4
      with:
        path: ~/AppData/Local/vcpkg/archives
        key: cmake-vcpkg-cache-${{ github.sha }}
        restore-keys: |
          cmake-vcpkg-cache-
    - name: Install dependencies
      run: |
        vcpkg.exe --triplet x64-windows install sdl2 sdl2-mixer sdl2-image zlib
    - name: Build
      run: |
        cmake.exe -B build -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Debug -DCMAKE_COMPILE_WARNING_AS_ERROR=ON -DENABLE_IMAGE=ON \
                           -DENABLE_TOOLS=ON -DCMAKE_TOOLCHAIN_FILE="$VCPKG_INSTALLATION_ROOT\\scripts\\buildsystems\\vcpkg.cmake" \
                           -DVCPKG_TARGET_TRIPLET=x64-windows
        cmake.exe --build build --config Debug
    - name: Install
      run: |
        cmake.exe --install build --config Debug
