name: IWYU

on:
  workflow_call:

jobs:
  iwyu:
    name: IWYU
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies and iwyu
      run: |
        sudo apt-get -y update
        sudo apt-get -y install libsdl2-dev libsdl2-mixer-dev libsdl2-image-dev gettext iwyu
    - name: Prepare compile_commands.json
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Debug -DENABLE_STRICT_COMPILATION=ON -DENABLE_IMAGE=ON -DENABLE_TOOLS=ON -DUSE_SDL_VERSION=SDL2 -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - name: Analyze
      run: |
        set -o pipefail
        iwyu_tool -p build -j 2 -- -Xiwyu --cxx17ns -Xiwyu --mapping_file="$GITHUB_WORKSPACE/iwyu.map" | (grep -E -v "^$|has correct #includes/fwd-decls" || true) \
                                                                                                       | tee iwyu-result.txt
    - uses: actions/upload-artifact@v3
      if: ${{ failure() }}
      with:
        name: iwyu-result
        path: iwyu-result.txt
