name: IWYU

on:
  workflow_call:
    inputs:
      run:
        type: boolean
        required: true

permissions: {}

jobs:
  iwyu:
    name: IWYU
    if: ${{ inputs.run }}
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies and iwyu
      run: |
        sudo apt-get -y update
        sudo apt-get -y install libsdl2-dev libsdl2-mixer-dev libsdl2-image-dev iwyu
    - name: Prepare compile_commands.json
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_COMPILE_WARNING_AS_ERROR=ON -DENABLE_IMAGE=ON -DENABLE_TOOLS=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - name: Analyze
      run: |
        iwyu_tool -p build -j "$(nproc)" -- -Xiwyu --cxx17ns -Xiwyu --error -Xiwyu --mapping_file="$GITHUB_WORKSPACE/iwyu.map" \
            | (grep -E -v "^$|has correct #includes/fwd-decls" || true) | tee iwyu-result.txt
    - uses: actions/upload-artifact@v4
      if: ${{ failure() }}
      with:
        name: iwyu-result
        path: iwyu-result.txt
