name: MSVC

on:
  workflow_call:

jobs:
  msvc:
    strategy:
      matrix:
        config:
        - name: SDL1 x86
          platform: x86
          build_config: Release-SDL1
          deploy_config: SDL1
          package_name: fheroes2_windows_x86_SDL1
          release_name: Windows x86 build with SDL1 (latest commit)
          release_tag: fheroes2-windows-x86-SDL1
        - name: SDL1 x64
          platform: x64
          build_config: Release-SDL1
          deploy_config: SDL1
          package_name: fheroes2_windows_x64_SDL1
          release_name: Windows x64 build with SDL1 (latest commit)
          release_tag: fheroes2-windows-x64-SDL1
        - name: SDL2 x86
          platform: x86
          build_config: Release-SDL2
          deploy_config: SDL2
          package_name: fheroes2_windows_x86_SDL2
          release_name: Windows x86 build with SDL2 (latest commit)
          release_tag: fheroes2-windows-x86-SDL2
        - name: SDL2 x64
          platform: x64
          build_config: Release-SDL2
          deploy_config: SDL2
          package_name: fheroes2_windows_x64_SDL2
          release_name: Windows x64 build with SDL2 (latest commit)
          release_tag: fheroes2-windows-x64-SDL2
    name: MSVC (${{ matrix.config.name }})
    runs-on: windows-2019
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        script/windows/install_packages.bat
    - name: Install MSYS2 tools
      run: |
        C:\msys64\usr\bin\pacman.exe -S --noconfirm --noprogressbar gettext-devel
      shell: cmd
    - name: Download MSVC Redistributable package
      run: |
        mkdir .vcredist && ^
        C:\msys64\usr\bin\wget.exe -O .vcredist/vcredist.exe "%VCREDIST_URL%"
      shell: cmd
      env:
        # Permalink URL from https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170
        VCREDIST_URL: https://aka.ms/vs/17/release/vc_redist.${{ matrix.config.platform }}.exe
    - name: Verify MSVC Redistributable package
      run: |
        "%SIGNTOOL_DIR%\signtool.exe" verify /v /d /all /pa /r "Microsoft Root Certificate Authority" .vcredist\vcredist.exe
      shell: cmd
      env:
        SIGNTOOL_DIR: C:\Program Files (x86)\Windows Kits\10\bin\x64
    - name: Generate version information
      run: |
        echo "FHEROES2_APP_VERSION=$(cat version.txt)" >> "$GITHUB_ENV"
    - uses: microsoft/setup-msbuild@v1
    - name: Build
      run: |
        MSBuild.exe fheroes2-vs2019.vcxproj /property:Platform=${{ matrix.config.platform }} /property:Configuration=${{ matrix.config.build_config }}
    - name: Build tools
      run: |
        cd src/tools
        MSBuild.exe extractor-vs2019.vcxproj /property:Platform=${{ matrix.config.platform }} /property:Configuration=${{ matrix.config.build_config }}
        MSBuild.exe icn2img-vs2019.vcxproj /property:Platform=${{ matrix.config.platform }} /property:Configuration=${{ matrix.config.build_config }}
        MSBuild.exe bin2txt-vs2019.vcxproj /property:Platform=${{ matrix.config.platform }} /property:Configuration=${{ matrix.config.build_config }}
    - name: Generate translations
      run: |
        set PATH=C:\msys64\usr\bin;%PATH%
        C:\msys64\usr\bin\make.exe -C files/lang -j 2
      shell: cmd
    - name: Create Inno Setup package
      run: |
        iscc.exe script\windows\fheroes2.iss /DAppVersion="%FHEROES2_APP_VERSION%" /DBuildDir="..\..\%BUILD_DIR%" ^
                 /DPlatform=${{ matrix.config.platform }} /DDeployConfName=${{ matrix.config.deploy_config }}
      shell: cmd
      env:
        BUILD_DIR: build\${{ matrix.config.platform }}\${{ matrix.config.build_config }}
    - name: Create ZIP package
      run: |
        7z.exe a -bb1 -tzip -- "$BUILD_DIR"\\${{ matrix.config.package_name }}.zip \
                               .\\"$BUILD_DIR"\\extractor.exe \
                               .\\"$BUILD_DIR"\\fheroes2.exe \
                               .\\"$BUILD_DIR"\\icn2img.exe \
                               .\\"$BUILD_DIR"\\*.dll \
                               LICENSE \
                               changelog.txt \
                               .\\docs\\README.txt \
                               files\\lang\\*.mo \
                               files\\data\\*.h2d \
                               .\\script\\agg\\*.bat \
                               .\\script\\demo\\*.bat \
                               .\\script\\demo\\*.ps1 \
                               .\\script\\homm2\\*.bat \
                               .\\script\\homm2\\*.ps1 
        if [[ ${{ matrix.config.deploy_config }} == SDL2 ]]; then
            7z.exe a -bb1 -tzip -- "$BUILD_DIR"\\${{ matrix.config.package_name }}.zip files\\soundfonts\\*
        fi
      env:
        BUILD_DIR: build\${{ matrix.config.platform }}\${{ matrix.config.build_config }}
    - uses: actions/upload-artifact@v3
      if: ${{ github.event_name == 'pull_request' }}
      with:
        name: ${{ matrix.config.package_name }}_installer.exe
        path: build/${{ matrix.config.platform }}/${{ matrix.config.build_config }}/${{ matrix.config.package_name }}_installer.exe
        if-no-files-found: error
    - uses: actions/upload-artifact@v3
      if: ${{ github.event_name == 'pull_request' }}
      with:
        name: ${{ matrix.config.package_name }}.zip
        path: build/${{ matrix.config.platform }}/${{ matrix.config.build_config }}/${{ matrix.config.package_name }}.zip
        if-no-files-found: error
    - uses: ncipollo/release-action@v1
      if: ${{ github.event_name == 'push' }}
      with:
        artifacts: build/${{ matrix.config.platform }}/${{ matrix.config.build_config }}/${{ matrix.config.package_name }}_installer.exe,
                   build/${{ matrix.config.platform }}/${{ matrix.config.build_config }}/${{ matrix.config.package_name }}.zip
        body: ${{ github.event.head_commit.message }}
        token: ${{ secrets.GITHUB_TOKEN }}
        name: ${{ matrix.config.release_name }}
        tag: ${{ matrix.config.release_tag }}
        allowUpdates: true
        artifactErrorsFailBuild: true
        prerelease: true
        replacesArtifacts: true
