name: scan-build analyzer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  scan-build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 50
    - name: install SDL 2 and clang-tools
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl2-dev libsdl2-ttf-dev libsdl2-mixer-dev libsdl2-image-dev gettext clang-tools
    - name: compile
      run: scan-build -v make -j 2
      env:
        WITHOUT_XML: "ON"
        FHEROES2_STRICT_COMPILATION: "ON"
